global:
  scrape_interval:     15s
  origin_prometheus: prometheus

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
    - targets: ["localhost:9090"]

  - job_name: "node"
    static_configs:
    - targets: ["node-exporter:9100"]

remote_write:
  - url: {{ redirect_url }}
    basic_auth:
      username: {{ redirect_auth.username }}
      password: {{ redirect_auth.password }}
